.footer {
    padding: 63px 60px 80px 60px;
    max-width: 1440px;
    background: rgba(205, 16, 255, 0.05);
    @include mobile {
       padding-top: 20px;
       padding-bottom: 20px;
               }


    &__title {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        margin-bottom: 50px;
        @include desktop-small {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            @include mobile {
                margin-bottom: 0;
                       }
        }
      
    }

    &__info {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        @include tablet-small {
            flex-direction: column;
            justify-content: center;
           
                   }
                   @include mobile {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                           }
    }

    &__group {
        display: flex;
        flex-direction: column;
    }
}
.header {

    &__logo {
    }
}
.form-section {

    &__rectangle {
    }

    &__field {
        display: inline-block;
        margin: auto;
                position: relative;
        
    }

    &__form {
       
    }

    &__input {
padding: 23px 170px 23px 40px;
        background: $white;
        border-radius: $radiusRound;
        display: inline-block;
        border: 0;
        outline: none;
       
       
        min-width: 790px;

        @include tablet {
            min-width: 500px;
            padding-right: 100px;
        }
        @include mobile {
                    min-width: 350px;
                    padding-right: 40px;
                }
        &::placeholder {
            @include text($ffMain, 700, 16px, 20px, rgba(79, 89, 106, 0.5));
        }
    
    }

    &__btn {
       
    }
}
.footerText {

    &__title {
        @include text($ffMain, 700, 16px, 1.2, $darkBlue);

        
    }

    &__desc {
        @include text($ffAdd, 400, 16px, 1.2, $darkGreyBlue);
        @include mobile {
            display: none;
           
        }
    }
}


button {
    position: absolute;
    background: $purpleGrad;
    display: inline-block;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: $radiusRound;
    border: 0;
    outline: 0;
    cursor: pointer;
    @include text($ffMain, 700, 16px, 20px, $white);
    padding: 10px 18px;
    @include mobile {
        position: static;
        margin-top: 60px;
      margin-inline: auto;
       padding: 15px 48px;
    }
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}